<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <form th:object="${articleForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <ul>
            <li>
                <h3>제목</h3>
                <input type="text" name="subject" id="subject" th:field="*{subject}">
            </li>
            <li>
                <h3>내용</h3>
                <textarea name="content" id="content" cols="30" rows="10" th:field="*{content}"></textarea>
            </li>
        </ul>
        <input type="submit" value="저장">
    </form>
</div>
</html>