<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>날짜</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="article, loop : ${articlePage}">
                <td th:text="${loop.count}"></td>
                <td>
                    <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.subject}"></a>
                </td>
                <td th:text="${#temporals.format(article.createDate, 'yy-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/article/create}" class="btn btn-primary">등록</a>
    <div th:if="${!articlePage.isEmpty()}">
        <ul>
            <li th:classappend="${!articlePage.hasPrevious} ? 'disabled'">
                <a th:href="@{|?page=${articlePage.number-1}|}">이전</a>
            </li>
            <li th:each="page : ${#numbers.sequence(0, articlePage.totalPages-1)}" th:classappend="${page == articlePage.number} ? 'active'">
                <a th:href="@"></a>
            </li>
            <li th:classappend="${!articlePage.hasNext} ? 'disabled'">
                <a th:href="@{|?page=${articlePage.number+1}|}">다음</a>
            </li>
        </ul>
    </div>
</div>
</html>